<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
</head>

<style>
  body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
</style>

<body>
  <header>
    <h1><a href="/">{{ site.title }}</a></h1>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} Matias Baldanza</p>
  </footer>
</body>

</html>